* {
  box-sizing: border-box;
}

canvas {
  display: block;
}

.text {
  margin: 0;
  white-space: break-spaces;
  border: 1px solid lightgreen;
  overflow: auto;
  outline: none;
  font-size: 13px;
  font-family: 'Courier', 'monospace';

  &::before {
    position: absolute;
    content: 'input';
    transform: translateY(-110%);
    font-weight: bold;
  }
}

.text--small {
  width: 150px;
  max-height: 80px;
}

.example {
  display: flex;
  align-items: start;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.output {
  min-width: 150px;
  margin: 0;
  margin-left: 10px;
  border: 1px solid lightgrey;

  &::before {
    content: '';
    position: absolute;
    transform: translateY(-112%);
    font-weight: bold;
  }
}

.output--plain-text {
  border: 1px solid lightgrey;
  white-space: break-spaces;
  overflow: visible;

  &::before {
    content: 'plain text';
  }
}

.output--pixi {
  &::before {
    content: 'pixi';
  }
}
